/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.5;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

img{
    max-width:100%;
    display:block;
}

.addTicket-section{
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 12px;
    display:flex;
	flex-wrap:wrap;
	justify-content: space-evenly;
	max-width: 920px;
	margin: 120px auto 100px;
	padding: 60px 0;
}

@media (max-width: 768px) {
	.addTicket-section {
	  margin: 0 auto;
	  padding-top: 0;
	  box-shadow: none;
	}
  }
  
  .homePage-img, .addTicket-form {
	width: 40%;
  }
  
  @media (max-width: 768px) {
	.homePage-img, .addTicket-form {
	  width: 90%;
	}
  }
  
  .homePage-img img {
	margin: 0 auto 21px;
  }
  
  @media (max-width: 768px) {
	.homePage-img img:nth-child(2) {
	  display: none;
	}
  }

  .title{
	  color:#00807E;
	  font-size:24px;
	  border-bottom: 3px solid #00807E;
	  margin-bottom: 40px;
  }

  .title span{
	  margin-right: 6px;
  }

  .addTicket-form{
	  display:flex;
	  flex-direction: column;
  }

  .addTicket-form .form-section{
	  margin:6px;
  }

  .addTicket-form label{
	  color:#00807E;
	  font-weight: bold;
	  margin-bottom: 5px;
  }

  .add-formName{
	  display:flex;
	  justify-content: space-between;
	  align-items: center;
  }

  .add-formName input,textarea,select{
	  color:#818A91;
	  background-color: #FAFAFA;
	  border:none;
	  border-bottom: 1px solid #00807E;
	  width:60%;
	  text-indent: 0.5rem;
	  font-size: 16px;
	  min-height: 35px;
  }
.add-formName textarea{
	min-height: 111px;

}

.alert-message{
	display:flex;
	justify-content: flex-end;
	margin-top:3px;
}

.alert-message span {
	margin-left: 5px;
	font-weight: bold;
  }

  .addTicket-btn{
	  align-self: flex-end;
	  color:#FFFFFF;
	  background-color: #00807E;
	  width: 40%;
	  height:48px;
	  border-radius: 5px;
	  text-align: center;
	  font-size:1rem;
	  cursor: pointer;
	  
  }

.addTicket-btn:hover{
	background-color:#004E4D;
}
.main-content {
	background-color: #F7F7F7;
	padding-bottom: 100px;
  }
  
  @media (max-width: 767px) {
	.main-content {
	  padding-bottom: 30px;
	}
  }
  
  .search-area {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
	max-width: 920px;
	margin: 0 auto;
	padding: 50px 0;
  }
  
  .search-area p {
	color: #818A91;
  }
  
  @media (max-width: 768px) {
	.search-area {
	  -webkit-box-orient: vertical;
	  -webkit-box-direction: normal;
		  -ms-flex-direction: column;
			  flex-direction: column;
	  -webkit-box-pack: center;
		  -ms-flex-pack: center;
			  justify-content: center;
	}
  }
  
  .regionSearch {
	width: 27.5%;
	min-height: 38px;
	text-indent: 0.5rem;
	color: #818A91;
	font-size: 1rem;
	border: 1px solid #CED4DA;
	border-radius: 5px;
	margin-right: 2.5%;
  }
  
  @media (max-width: 768px) {
	.regionSearch {
	  margin-right: 0;
	  margin-bottom: 10px;
	  width: 80%;
	}
  }
  
  .ticketCard-area {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	max-width: 1100px;
	margin: 0 auto;
  }
  
  .ticketCard {
	width: 31.3333%;
	background-color: #fff;
	-webkit-box-shadow: 0px 3px 6px #00000029;
			box-shadow: 0px 3px 6px #00000029;
	border: 1px solid #DEE2E6;
	border-radius: 5px;
	margin-bottom: 38px;
	margin-right: 2%;
  }
  
  @media (max-width: 768px) {
	.ticketCard {
	  width: 46%;
	  margin: 0 2% 40px;
	}
  }
  
  @media (max-width: 767px) {
	.ticketCard {
	  width: 90%;
	  margin: 0 5% 30px;
	}
  }
  
  .ticketCard-img {
	position: relative;
  }
  
  .ticketCard-img a {
	display: block;
	overflow: hidden;
  }
  
  .ticketCard-img img {
	width: 100%;
	height: 180px;
	-o-object-fit: cover;
	   object-fit: cover;
  }
  
  .ticketCard-img img:hover {
	-webkit-transform: scale(1.15);
			transform: scale(1.15);
  }
  
  .ticketCard-region, .ticketCard-rank {
	position: absolute;
	border-radius: 0 5px 5px 0px;
	color: #FFF;
	text-align: center;
  }
  
  .ticketCard-region {
	top: -13px;
	left: 0;
	font-size: 1.25rem;
	background-color: #64C3BF;
	padding: 12px 20px;
  }
  
  .ticketCard-rank {
	bottom: -16px;
	left: 0;
	background-color: #00807E;
	padding: 5px 8px;
	min-width: 40px;
  }
  
  .ticketCard-content {
	padding: 20px;
	height: 250px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
		-ms-flex-direction: column;
			flex-direction: column;
	-webkit-box-pack: justify;
		-ms-flex-pack: justify;
			justify-content: space-between;
  }
  
  .ticketCard-name {
	display: block;
	text-decoration: none;
	color: #00807E;
	font-size: 1.5rem;
	font-weight: bold;
	padding-bottom: 5px;
	border-bottom: 2px solid #00807E;
	margin-bottom: 20px;
  }
  
  .ticketCard-name:hover {
	color: #64C3BF;
  }
  
  .ticketCard-description {
	color: #818A91;
	margin-bottom: 32px;
  }
  
  .ticketCard-info {
	color: #00807E;
	font-family: 'Roboto', sans-serif;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
	-webkit-box-pack: justify;
		-ms-flex-pack: justify;
			justify-content: space-between;
  }
  
  .ticketCard-num {
	font-weight: bold;
  }
  
  .ticketCard-price {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
  }
  
  .ticketCard-price span {
	font-size: 2rem;
  }
  
  .cantFind-area {
	display: none;
	margin-top: 70px;
	text-align: center;
  }
  
  .cantFind-area h3 {
	color: #00807E;
	font-size: 2rem;
	margin-bottom: 50px;
	font-weight: bold;
  }
  
  .cantFind-area img {
	margin: 0 auto;
  }
  
  @media (max-width: 768px) {
	.cantFind-area {
	  margin-top: 0px;
	}
  }





  

  